# Dados e artefatos locais
/data-platform/**/data/
/data-platform/DataPipeline/abt.csv
/data-platform/DataPipeline/exp_analysis.executed.ipynb
/data-platform/DataPipeline/.ipynb_checkpoints/
*.pkl

# Cache e bytecode do Python
__pycache__/
*.py[cod]

# Arquivos internos e metadados do macOS
/.internal
.DS_Store
